<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue/0.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1685,1},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/1.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{835,1},{152,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/2.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{164,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1665,163},{164,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/3.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{166,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{355,319},{166,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/6.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{164,180}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1119,155},{164,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/8.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{166,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{175,317},{166,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/9.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{169,151},{164,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{763,1023},{190,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/C.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{188,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{955,1033},{188,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue/E.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{184,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1525,853},{184,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/F.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{182,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{385,839},{182,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1117,671},{176,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/L.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1309,673},{176,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/P.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{182,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{575,839},{182,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/S.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{172,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1179,497},{172,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue/Z.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{186,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{193,1015},{186,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/2.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{148,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{343,1},{148,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/3.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{150,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{501,1},{150,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/6.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{148,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{175,1},{148,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/8.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{150,162}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{671,1},{150,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/9.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{174,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1755,501},{174,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/C.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,659},{172,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/D.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{190,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{987,489},{190,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/E.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1621,329},{170,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/F.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1273,329},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/G.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{188,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{375,661},{188,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/H.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{192,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{599,489},{192,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1333,1},{160,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/L.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1509,1},{160,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/N.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{198,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,485},{198,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/O.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{182,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{755,663},{182,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/P.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1447,329},{168,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/R.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{188,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{565,663},{188,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/T.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{176,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{939,663},{176,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/U.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{196,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{177,661},{196,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/V.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{198,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{201,487},{198,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/X.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{196,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{401,487},{196,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/Y.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{192,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{793,489},{192,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/Z.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1797,329},{170,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/0.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1853,1},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/1.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1001,1},{152,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/2.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{164,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1839,163},{164,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/3.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{166,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{541,319},{166,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/4.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{359,153},{164,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/6.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{164,180}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1301,163},{164,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/8.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{166,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{913,321},{166,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/9.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{549,153},{164,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1335,1039},{190,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold/C.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{188,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1145,1035},{188,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold/E.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{184,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1717,853},{184,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/F.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{182,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{765,839},{182,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1501,675},{176,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/L.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1693,675},{176,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/P.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{182,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{955,849},{182,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/S.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{172,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1371,499},{172,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold/Z.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{186,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{383,1023},{186,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/0.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,151},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/1.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1167,1},{152,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/2.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{164,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,317},{164,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/3.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{166,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{727,321},{166,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/4.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{739,155},{164,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/6.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{164,180}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1483,163},{164,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/8.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{166,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1093,321},{166,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/9.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{929,155},{164,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1527,1039},{190,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/C.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{188,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1719,1039},{188,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/E.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{184,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1015},{184,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/F.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{182,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1145,851},{182,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,837},{176,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/L.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{193,837},{176,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/P.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{182,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1335,853},{182,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/S.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{172,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1563,501},{172,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/Z.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{186,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{573,1023},{186,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>letters-2.png</string>
            <key>size</key>
            <string>{2020,1228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff3c399a9b278f4f6b009b0030cdc0a6:e00c533ecd9dacca16748ac0673a9115:91e82d6dd59eb8eb3d136cd6604538ed$</string>
            <key>textureFileName</key>
            <string>letters-2.png</string>
        </dict>
    </dict>
</plist>
