<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubbles/bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{565,512}</string>
                <key>spriteSourceSize</key>
                <string>{567,524}</string>
                <key>textureRect</key>
                <string>{{581,1},{565,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubbles/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{483,488}</string>
                <key>spriteSourceSize</key>
                <string>{509,518}</string>
                <key>textureRect</key>
                <string>{{1,549},{483,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbles/pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{483,488}</string>
                <key>spriteSourceSize</key>
                <string>{509,518}</string>
                <key>textureRect</key>
                <string>{{486,568},{483,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubbles/rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{468,468}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{976,1044},{468,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbles/shiny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{478,460}</string>
                <key>spriteSourceSize</key>
                <string>{512,520}</string>
                <key>textureRect</key>
                <string>{{1,1039},{478,460}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubbles/square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{463,470}</string>
                <key>spriteSourceSize</key>
                <string>{535,520}</string>
                <key>textureRect</key>
                <string>{{1095,1},{463,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card2/0.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1195,1514},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/1.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{951,1672},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/2.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{637,1775},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/3.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1413,1514},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/4.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1169,1732},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/5.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1387,1732},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/6.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1605,1732},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/7.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1446,466},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/8.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1567,1},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/9.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1567,219},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/?.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1446,684},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/A.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1446,902},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1446,1120},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/C.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1631,1338},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/D.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1823,1730},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/E.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1664,437},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/F.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1785,1},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/G.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1785,219},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/H.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1664,655},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/I.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1664,873},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1664,1091},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/Q.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{216,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1760},{216,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo/x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,22}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{959,1514},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo/x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,22}</string>
                <key>spriteSize</key>
                <string>{234,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{797,1291},{234,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combo/x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,21}</string>
                <key>spriteSize</key>
                <string>{234,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{637,1539},{234,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combo/x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,21}</string>
                <key>spriteSize</key>
                <string>{242,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{232,1519},{242,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combo/x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{240,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{637,1297},{240,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combo/x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,21}</string>
                <key>spriteSize</key>
                <string>{218,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{793,1539},{218,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combo/x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,21}</string>
                <key>spriteSize</key>
                <string>{236,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{797,1053},{236,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combo/x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{242,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{637,1053},{242,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{474,468}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{976,568},{474,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/K.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{200,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1841,1556},{200,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/M.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{208,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1631,1556},{208,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/O.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{182,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1446,1338},{182,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/W.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{248,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{463,1053},{248,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/W.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{248,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{463,1303},{248,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/A.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{218,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{445,1753},{218,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/K.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{216,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1849,1309},{216,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/M.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{219,1763},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/Q.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{198,218}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{392,1553},{198,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlightnum/4.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1882,631},{164,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlightnum/5.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{156,182}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{855,1890},{156,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlightnum/6.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{164,180}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1882,1011},{164,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlightnum/7.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{162,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1882,437},{162,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlightnum/9.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1882,821},{164,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,546}</string>
                <key>spriteSourceSize</key>
                <string>{578,546}</string>
                <key>textureRect</key>
                <string>{{1,1},{578,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars/silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{239,229}</string>
                <key>spriteSourceSize</key>
                <string>{311,291}</string>
                <key>textureRect</key>
                <string>{{1,1519},{239,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>letters-1.png</string>
            <key>size</key>
            <string>{2047,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af52f6e40de6dc0b5196c297e2517796:f0dec2a2fa2631f50c503a9ac30ae34b:91e82d6dd59eb8eb3d136cd6604538ed$</string>
            <key>textureFileName</key>
            <string>letters-1.png</string>
        </dict>
    </dict>
</plist>
