<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubbles/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{483,488}</string>
                <key>spriteSourceSize</key>
                <string>{509,518}</string>
                <key>textureRect</key>
                <string>{{1,515},{483,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubbles/pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{483,488}</string>
                <key>spriteSourceSize</key>
                <string>{509,518}</string>
                <key>textureRect</key>
                <string>{{491,515},{483,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubbles/rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{468,468}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{981,943},{468,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbles/reg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{491,512}</string>
                <key>spriteSourceSize</key>
                <string>{509,518}</string>
                <key>textureRect</key>
                <string>{{1,1},{491,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbles/shiny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{478,460}</string>
                <key>spriteSourceSize</key>
                <string>{512,520}</string>
                <key>textureRect</key>
                <string>{{494,1},{478,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbles/square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{463,470}</string>
                <key>spriteSourceSize</key>
                <string>{535,520}</string>
                <key>textureRect</key>
                <string>{{981,471},{463,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/0.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{595,1384},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/1.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{613,1158},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/2.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{977,1413},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/3.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{595,1602},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/4.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{193,1612},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/5.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1830},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/6.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1195,1413},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/7.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1413,1413},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/8.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1451,866},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/9.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1451,1084},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/?.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1631,1302},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/A.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1669,866},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1669,1084},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/C.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1691,469},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/D.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1820,232},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/E.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1631,1520},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/F.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{975,1631},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/G.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{585,1820},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/H.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1193,1631},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/I.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1411,1631},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1629,1738},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2/Q.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{216,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{395,1158},{216,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo/x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,22}</string>
                <key>spriteSize</key>
                <string>{234,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{163,1000},{234,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo/x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,22}</string>
                <key>spriteSize</key>
                <string>{234,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1000},{234,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combo/x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,21}</string>
                <key>spriteSize</key>
                <string>{234,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{239,1158},{234,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>combo/x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,21}</string>
                <key>spriteSize</key>
                <string>{242,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1450,1},{242,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo/x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{240,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1446,706},{240,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo/x7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,21}</string>
                <key>spriteSize</key>
                <string>{218,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{399,1000},{218,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo/x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,21}</string>
                <key>spriteSize</key>
                <string>{236,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1236},{236,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo/x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{242,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1450,161},{242,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{474,468}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{974,1},{474,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{813,1570},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/L.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{813,1746},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/M.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{208,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{411,1816},{208,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/S.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{156,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{803,1000},{156,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/1.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{136,148}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1909,450},{136,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/4.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{831,1158},{148,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/5.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1901,687},{140,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/7.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{146,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1640,321},{146,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1887,861},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/L.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1887,1037},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/M.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{208,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1691,687},{208,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/Q.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{182,210}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{411,1604},{182,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/A.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{218,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1394},{218,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/D.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{206,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{975,1849},{206,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/G.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{204,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1391,1849},{204,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/H.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{206,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1183,1849},{206,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/I.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{126,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1450,321},{126,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/K.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{216,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{193,1394},{216,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/N.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{212,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1847,1738},{212,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/Q.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{198,218}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{395,1384},{198,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/U.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{212,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{219,1830},{212,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/V.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{214,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1614},{214,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/X.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{212,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1849,1302},{212,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/Y.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{208,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1849,1516},{208,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlightnum/5.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{156,182}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{619,1000},{156,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlightnum/7.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{162,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{813,1376},{162,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars/gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{243,233}</string>
                <key>spriteSourceSize</key>
                <string>{311,291}</string>
                <key>textureRect</key>
                <string>{{1446,471},{243,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars/silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{239,229}</string>
                <key>spriteSourceSize</key>
                <string>{311,291}</string>
                <key>textureRect</key>
                <string>{{1694,1},{239,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>letters-1.png</string>
            <key>size</key>
            <string>{2048,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfbe9677a0fc517774635e445b556949:209213c76265e8844eed106dd1861a8d:91e82d6dd59eb8eb3d136cd6604538ed$</string>
            <key>textureFileName</key>
            <string>letters-1.png</string>
        </dict>
    </dict>
</plist>
