<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evil/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{174,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,291},{174,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/F.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{871,151},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/G.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{188,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1183,501},{188,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/H.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{192,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1751,333},{192,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/K.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{200,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1743,159},{200,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/L.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,129},{160,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/N.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{198,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{555,317},{198,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/S.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{156,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1665,1},{156,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/U.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{196,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{787,493},{196,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/V.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{198,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{755,319},{198,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/X.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{196,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1355,327},{196,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/Y.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{192,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,479},{192,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/Z.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1395,155},{170,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/0.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{144,150}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{509,1},{144,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/1.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{136,148}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{191,1},{136,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/2.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-22}</string>
                <key>spriteSize</key>
                <string>{148,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1177,1},{148,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/4.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-23}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{661,1},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/5.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{341,1},{140,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/6.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{148,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1009,1},{148,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/8.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{150,162}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1335,1},{150,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/9.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{835,1},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/A.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{202,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{583,493},{202,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{174,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{177,305},{174,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/E.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1219,153},{170,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/F.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1045,151},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/H.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{192,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{195,487},{192,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/J.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{177,143},{160,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/K.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{200,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{353,313},{200,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/L.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{353,147},{160,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/N.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{198,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{955,319},{198,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/S.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{156,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1841,1},{156,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldnum/U.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{196,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{985,499},{196,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/V.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{198,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1155,325},{198,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/X.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{196,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1553,333},{196,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/Y.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{192,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{389,491},{192,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/Z.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{170,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1569,159},{170,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/B.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1373,507},{190,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/C.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{188,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1565,507},{188,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/I.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{126,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlight/T.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{192,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1757,507},{192,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlightnum/0.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{529,151},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlightnum/1.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1499,1},{152,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>highlightnum/2.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{164,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{697,151},{164,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>letters-2.png</string>
            <key>size</key>
            <string>{2016,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:466df14a49b69aa3eb0deaa1e53b5c30:f68c7add799c89423370e341e59d9eb6:91e82d6dd59eb8eb3d136cd6604538ed$</string>
            <key>textureFileName</key>
            <string>letters-2.png</string>
        </dict>
    </dict>
</plist>
