<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bkg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,1384}</string>
                <key>spriteSourceSize</key>
                <string>{800,1384}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,1384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,666}</string>
                <key>spriteSourceSize</key>
                <string>{800,666}</string>
                <key>textureRect</key>
                <string>{{803,1107},{800,666}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbles/bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{547,512}</string>
                <key>spriteSourceSize</key>
                <string>{567,524}</string>
                <key>textureRect</key>
                <string>{{1487,581},{547,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1605,1605},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_bk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{260,100}</string>
                <key>spriteSourceSize</key>
                <string>{280,100}</string>
                <key>textureRect</key>
                <string>{{1,1935},{260,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1243,1775},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{743,1687},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/I.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{110,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{581,1805},{110,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evil/Q.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{182,210}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1829,1863},{182,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evil/W.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{248,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{743,1775},{248,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/I.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{110,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1491,1775},{110,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldnum/W.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{248,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{993,1775},{248,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{334,508}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1605,1095},{334,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/M.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1603,1853},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highlight/W.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{256,188}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1853,1605},{256,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inputBook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1104,682}</string>
                <key>spriteSourceSize</key>
                <string>{1104,682}</string>
                <key>textureRect</key>
                <string>{{803,1},{1104,682}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,546}</string>
                <key>spriteSourceSize</key>
                <string>{578,546}</string>
                <key>textureRect</key>
                <string>{{1,1387},{578,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nothing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{693,1805},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,546}</string>
                <key>spriteSourceSize</key>
                <string>{578,546}</string>
                <key>textureRect</key>
                <string>{{1487,1},{578,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secret.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,36}</string>
                <key>spriteSourceSize</key>
                <string>{292,36}</string>
                <key>textureRect</key>
                <string>{{705,1387},{292,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secret/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,36}</string>
                <key>spriteSourceSize</key>
                <string>{100,36}</string>
                <key>textureRect</key>
                <string>{{525,1935},{100,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secret/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,36}</string>
                <key>spriteSourceSize</key>
                <string>{132,36}</string>
                <key>textureRect</key>
                <string>{{743,1553},{132,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secret/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,36}</string>
                <key>spriteSourceSize</key>
                <string>{164,36}</string>
                <key>textureRect</key>
                <string>{{743,1387},{164,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secret/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{263,2011},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secret/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,36}</string>
                <key>spriteSourceSize</key>
                <string>{228,36}</string>
                <key>textureRect</key>
                <string>{{263,1973},{228,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secret/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,36}</string>
                <key>spriteSourceSize</key>
                <string>{260,36}</string>
                <key>textureRect</key>
                <string>{{263,1935},{260,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secret/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,36}</string>
                <key>spriteSourceSize</key>
                <string>{292,36}</string>
                <key>textureRect</key>
                <string>{{705,1681},{292,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secretWord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,122}</string>
                <key>spriteSourceSize</key>
                <string>{416,122}</string>
                <key>textureRect</key>
                <string>{{581,1387},{416,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>letters-0.png</string>
            <key>size</key>
            <string>{2042,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:769afb94ac935f88885470218da8bb5f:e971c3043207fef48c9a6dc37ea5cfbf:91e82d6dd59eb8eb3d136cd6604538ed$</string>
            <key>textureFileName</key>
            <string>letters-0.png</string>
        </dict>
    </dict>
</plist>
